argos/nodered/manager/basicFlows/flows.json
[{"id":"9d8098e9.c07c38","type":"tab","label":"Distributer","disabled":false,"info":""},{"id":"bc6454ed.8f34b8","type":"tcp in","z":"9d8098e9.c07c38","name":"InPlace","server":"server","host":"","port":"5000","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":160,"y":260,"wires":[["7c0fcbe5.dd3014"]]},{"id":"fe9cd08e.f516f","type":"csv","z":"9d8098e9.c07c38","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"Name,A,B","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":510,"y":260,"wires":[["838428a5.2f0738"]]},{"id":"7c0fcbe5.dd3014","type":"function","z":"9d8098e9.c07c38","name":"toStr","func":"msg.payload = msg.payload.toString(\"ascii\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":260,"wires":[["fe9cd08e.f516f"]]},{"id":"e0c11fc5.845d8","type":"json","z":"9d8098e9.c07c38","name":"","property":"payload","action":"str","pretty":false,"x":970,"y":260,"wires":[["b9ff2fda.49267"]]},{"id":"838428a5.2f0738","type":"change","z":"9d8098e9.c07c38","name":"","rules":[{"t":"set","p":"DeviceTopicName","pt":"msg","to":"payload.Name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":260,"wires":[["e0c11fc5.845d8"]]},{"id":"b9ff2fda.49267","type":"kafka","z":"9d8098e9.c07c38","brokerUrl":"localhost:9092","topic":"DeviceTopicName","msgtopic":true,"partition":0,"debug":"","x":1110,"y":260,"wires":[]}]